<mat-card>
  <h2>Importação de Horas Extras</h2>

  <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls" />

  <br /><br />

<div class="botoes-container">
  <button mat-raised-button color="primary" (click)="previewExcel()">Ler Arquivo</button>
  <button mat-raised-button color="accent" (click)="enviarBackend()" [disabled]="!rows.length">Enviar para Backend</button>
  <button mat-raised-button color="warn" (click)="processarHoras()" [disabled]="loading">Processar Horas</button>
  <button mat-raised-button color="primary" (click)="exportarExcel()">Exportar Excel</button>
</div>
  <br /><br />

  <mat-progress-bar *ngIf="loading" mode="determinate" [value]="progress"></mat-progress-bar>

  <p>{{ message }}</p>

  <div *ngIf="rows.length > 0">
    <h3>Preview (primeiras 5 linhas)</h3>
    <pre>{{ rows.slice(0,5) | json }}</pre>
  </div>
</mat-card>